name: Build Windows EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install pyinstaller

      - name: Build EXE
        run: |
          pyinstaller --onefile --noconsole photo_rename_gui_progressbar.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: photo-rename-exe
          path: dist/*.exe
